@{ ViewBag.Title="Contact";}

<div data-role="header" data-add-back-btn="true">
    <a href="#" data-role="button" data-rel="back" data-theme="b">返回</a>
    <h1>連絡方式</h1>
</div>

<div role="main" class="ui-content">
    <ul data-role="listview" data-inset="true" data-theme="a" data-divider-theme="b">
        <li data-role="list-divider"><h1>線上購物服務專線</h1></li>
        <li data-icon="phone"><a href="tel:412-8869#1">線上購物服務專線: 412-8869#1</a></li>
        <li data-role="list-divider"><h1>客服專線</h1></li>
        <li data-icon="phone"><a href="tel:+886925154286">客服專線: 02-412-8869</a></li>
        <li data-role="list-divider"><h1>SMS簡訊</h1></li>
        <li data-icon="comment"><a href="sms://+886925154286">發送簡訊到客服</a></li>
        <li data-role="list-divider"><h1>寫Email給客服部</h1></li>
        <li data-icon="mail"><a href="mailto:Onsales@IKEA.com.tw">Email: Onsales@IKEA.com.tw</a></li>
        <li data-role="list-divider"><h1>Line</h1></li>
        <li data-icon="edit"><a href="line://msg/text/Hello!這是測試訊息請忽略">用Line傳訊給客服人員</a></li>
        <li data-role="list-divider"><h1>Skype</h1></li>
        <li data-icon="video"><a href="skype:echo123?call">Skype通話</a></li>
    </ul>
</div>