@{
    ViewBag.Title = "Index";
}

<div data-role="header">
    <h2>椅子情報網</h2>
</div>

<div role="main" class="ui-content">
    <div id="chairslogo">
        <img src="~/Assets/images/chairs/office.png" />
    </div>
    <ul data-role="listview" data-inset="true">
        <li data-icon="heart"><a href="About">關於我們</a></li>
        <li data-icon="shop"><a href="ChairsList">椅子款式</a></li>
        <li data-icon="info"><a href="Contact">連絡方式</a></li>
        <li data-icon="home"><a href="Stores">分店資訊</a></li>
    </ul>
</div>

@section topCSS{
    <style>
        img {
            max-width: 100%;
            height: auto;
        }

        div#chairslogo {
            text-align: center;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    </style>
}